.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  width: 300px;
  height: auto; 
  box-shadow: rgba(0, 0, 0, 0.75) -4px 4px 8px 1px;
  
  background-color: #fff;
  margin-top: 60px;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  gap: 12px;

}

.avatar{
  border-radius: 50%;
}

.name{
  color: black;
  font-size: 16px;
  letter-spacing: -0.64px;


  font-weight: 700;
  line-height: 18px;
}

.tag{
  color: gray;
}
.location{
  color: gray;
}
.label{
  color: gray;
}

.stats{
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  

  width: 100%;
  background-color: #d7d2d2;
}

.list_profile{
  border: 1.5px solid #111;
  flex-basis: calc((100% - 12px) / 3);
  padding: 12px;
}

.quantity{
  display: flex;
}